<fieldset class="form-group float-right">
    <div class="input-group float-right" style="width:240px;">
        <label class="input-group-addon" for="datarange">
            <i class="fa fa-calendar"></i>
        </label>
        <input daterangepicker
               type="text"
               id="datarange"
               readonly
               name="daterange"
               [options]="dtOptions"
               (selected)="selectedDate($event)"
               class="form-control date-picker uneditable-input">
    </div>
</fieldset>