<div class="row">
    <div class="col-lg-12">
        <div class="action-card">
            <a [routerLink]="['/estoque/adicionar-produto']" class="btn btn-link">
                <i class="fa fa-plus"></i> novo produto
            </a>
            <a [routerLink]="['/estoque/adicionar-entrada']" class="btn btn-link">
                <i class="fa fa-download"></i> efetuar entrada
            </a>
            <a [routerLink]="['/estoque/adicionar-saida']" class="btn btn-link">
                <i class="fa fa-upload"></i> efetuar saída
            </a>
            <a [routerLink]="['/estoque/adicionar-comodato']" class="btn btn-link">
                <i class="fa fa-handshake-o"></i> efetuar comodato
            </a>
        </div>
    </div>
</div>