<div class="animated fadeIn">

    <stock-menu></stock-menu>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="card" [class.card-loading]="isLoading()">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <h3 class="card-header-title"><i class="fa fa-calculator"></i> Entradas de Produtos</h3>
                        </div>
                        <div class="col-sm-7">
                            <card-header-controls
                                    [params]="params"
                                    (runSearch)="search($event)"
                                    (selectDate)="selectedDate($event)">
                            </card-header-controls>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr tableOrdering (sortColumn)="sortColumn($event)">
                                <th data-column="created">Criado em</th>
                                <th data-column="product.name">Produto</th>
                                <th data-column="product_item.item_id">Código de Identificação</th>
                                <th data-column="product.amount">Qtd.</th>
                                <th data-column="who_created.user.email">Vendedor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="items !== undefined && !items.length">
                                <td colspan="4" class="centered">Nenhum resultado.</td>
                            </tr>
                            <tr *ngFor="let item of items | paginate: {
                        itemsPerPage: params.page_size,
                        currentPage: params.page,
                        totalItems: total
                        }">
                                <td>{{ item.created | date: 'short' }}</td>
                                <td>{{ item.product?.name }}</td>
                                <td>{{ item.product_item?.item_id }}</td>
                                <td>{{ item.product_item?.amount }}</td>
                                <td>{{ item.who_created?.user?.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <custom-pagination-controls (pageChange)="pageChanged($event)"></custom-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

    <!--/.row-->
</div>
