<div class="animated fadeIn">

    <stock-menu></stock-menu>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="card" [class.card-loading]="isLoading()">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <h3 class="card-header-title"><i class="fa fa-calculator"></i> Produtos</h3>
                        </div>
                        <div class="col-sm-7">
                            <card-header-controls
                                    [params]="params"
                                    (runSearch)="search($event)">
                            </card-header-controls>
                        </div>

                    </div>
                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                <tr tableOrdering (sortColumn)="sortColumn($event)">
                                    <th data-column="created" width="30">Criado em</th>
                                    <th data-column="name" width="30">Produto</th>
                                    <th data-column="price" width="10">Valor</th>
                                    <th data-column="is_active" width="10">Ativo</th>
                                    <th data-column="has_consignment" width="10">Permite Comodato</th>
                                    <th width="30">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngIf="items !== undefined && !items.length">
                                    <td colspan="6" class="centered">Nenhum resultado.</td>
                                </tr>
                                <tr *ngFor="let item of items | paginate: { itemsPerPage: params.page_size, currentPage: params.page, totalItems: total}">
                                    <td>{{ item.created | date: 'short' }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price | currencyFormat }}</td>
                                    <td [innerHTML]="item.is_active | booleanImg"></td>
                                    <td [innerHTML]="item.has_consignment | booleanImg"></td>
                                    <td>
                                        <a href [routerLink]="['/estoque/editar-produto', item.id]"
                                           class="btn btn-link"><i class="fa fa-edit"></i> editar</a>
                                        <a href class="btn btn-link"><i class="fa fa-download"></i> entradas</a>
                                        <a href class="btn btn-link"><i class="fa fa-upload"></i> saídas</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <custom-pagination-controls (pageChange)="pageChanged($event)"></custom-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

    <!--/.row-->
</div>
